<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
  <script src="multiselect-checkbox2.js"></script>
</head>
<body>

<div ng-controller="main">
    <div ng-click="toggle()"> {{count}} options selected</div>  
<div ng-show="showOptions">
    <label ng-repeat="option in options">{{option}}<input type="checkbox" ng-model="selected[$index]" ng-change="update()"/><br/></label>
  </div></div>

</body>
</html>